@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/preflight.css" layer(custom-base);

/* Custom theme variables */
@layer custom-base {
  :root {
    --bg-color: #ffffff;
    --text-color: #111111;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #111111;
      --text-color: #ffffff;
    }
  }

  body {
    font-family: theme("fontFamily.mono");
    background-color: var(--bg-color);
    color: var(--text-color);
  }

  p,
  a,
  h1,
  h2,
  h3,
  h4 {
    font-family: theme("fontFamily.mono");
    @apply not-italic no-underline;
  }
}
